.DS_Store
.env
.conda/
.huggingface/
.venv/
Thumbs.db
__pycache__/
*.crt
*.env
*.ipynb_checkpoints/
*.key
*.log
*.pem
*.pyc
*.pyo
*.secret
*.swp
**/.cache/
**/.huggingface/
**/cache/
**/models/
/root/.cache/
data/
