deep_learning/**/*.png
deep_learning/**/*.jpg
deep_learning/**/*.jpeg
deep_learning/**/*.gif
deep_learning/fastaicourse/.gradio/certificate.pem
deep_learning/data/**
**.pdf
**/data/**
deep_learning/models/**
**/models/**
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.tar.gz
