aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
matplotlib==3.10.0
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyQt6==6.7.1
setuptools==72.1.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tiktoken==0.9.0
torch==2.5.1
torchaudio==2.5.1
triton==3.1.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wheel==0.45.1
